
.button-amount{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-top: 2px;
}

.input-amount{
	box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
	margin-left: 2px;
	margin-right: 2px;
	width: 60px;
	text-align: center;

}
.full-width {
	width: 100%;
  }
.penInput {
	min-width: 3rem;
    max-width: 6rem;
}
.center-text{
	text-align: center;
}
.center {
	display:flex;
	justify-content: center;
}
.img-width{
	max-width: 400px;
}