<!--
<div class="col-md-offset-1 col-md-4">
  <form class="form-horizontal ">
    <div class="form-group">
      <label class="col-sm-2 control-label">Student id : </label>
      <div class="col-sm-10">
        {{student.id}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Student name : </label>
      <div class="col-sm-10">
        {{student.name}} {{student.surname}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Pen amount : </label>
      <div class="col-sm-10 form-inline">
        {{student.penAmount}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">File input : </label>
      <div class="col-sm-10">
        <img class="img-responsive" [src]="student.image" [alt]="student.image">
        <p class="help-block">Leave here for the file preview later.</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Description : </label>
      <div class="col-sm-10">
        {{student.description}}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Add</button>
      </div>
    </div>
  </form>
</div>
-->
<mat-toolbar>
  <span>Student</span>
</mat-toolbar>
<form style="margin-left: 1em;">

  <mat-form-field class="full-width">
    <input matInput placeholder="Student Id" [value]="student.studentId" readonly >
  </mat-form-field>

  <table  class="full-width">
    <tr>
      <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="First name" [value]="student.name" readonly >
          </mat-form-field>
      </td>
      <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="Surname" [value]="student.surname" readonly >
          </mat-form-field>
      </td>
    </tr>
        <mat-form-field class="penInput">
          <input matInput class="center-text"  placeholder="Pen Amount" [value]="student.penAmount" readonly >
        </mat-form-field>
  </table>

  <div class="center">
    <mat-card class="img-width">
      <mat-card-header>
        <div class="mat-card-header-text">
            <mat-card-title ></mat-card-title>
          <mat-card-title >Image</mat-card-title>
        </div>
      </mat-card-header>
      <img class="mat-card-image" [src]="student.image" [alt]="student.image">
    </mat-card>
  </div>

  <mat-form-field class="full-width">
      <textarea matInput placeholder="Description" [value]="student.description" readonly ></textarea>
  </mat-form-field>

</form>
